.contenu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 13px;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    width: 270px;
    height: 350px;
    margin: 15px;
    background-color: rgba(93, 72, 72, 0.5);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* transition: transform 0.3s ease; */
}
.icon{
    width: 20px;
    height: 20px;
}
button{
    background-color: rgb(133, 33, 33);
    color: white;
    border: 2px rgb(63, 13, 13) solid;
    border-radius: 14px;
    height: 30px;
    width: auto;
}
.funct{
    display: flex;
    gap: 120px;
    font-size: 1.1em;
}
.photo{
    width: 200px;
    height: 200px;
    padding: 30px;
    background-color: rgb(35, 25, 25,0.5);
    border: 2px solid rgb(35, 25, 25,0.7);
}
.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}
.contenu:hover {
    transform: perspective(900px) translateY(-5%) rotateX(20deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    transition: 0.6s;
}
.add
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    gap: 20px;
    width: 200px;
    height: 300px;
} */
.charactaire{
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 100;
}
.contenu:hover .charactaire{
    transform: scale(1.2);
    transition: 0.3s;
    opacity: 0.9;
}
.navb{
    position: fixed;
    top: 0 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 25, 25,0.5);
    height: 70px;
    
}
.first,.search{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
a{
    color: white;
    font-weight: bold;
    /* font-size: 1.2em; */
    text-decoration: none;
    background-color: rgb(133, 33, 33);
    border: 2px solid rgb(133, 33, 33);
    border-radius: 14px;
    width: 80px;
    margin: 20px;
}
.favorite{
    position: relative;
    top: 18px;
    display: flex;
    align-items: space-evenly;
    gap: 10px;
}